.container{
  width: 360px;
  background-color: #fff;
  margin: 140px auto;
  box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.68);
}

label{
  display: inline-block;
  width: 100%;
  margin: 24px 0px 0px;
}

form{
  padding: 24px;
}

input{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: none;
  display: block;
}

input[type=text], input[type=email]{
  background-color: #e7e7e7;
  padding: 0px 12px;
  font-size: 16px;
}

input[type=submit]{
  background-color: rgb(59, 172, 59);
  color: white;
  font-size: 16px;
  margin: 24px 0px;
  font-weight: 400;
  cursor: pointer;
}

.success{
  background-color: rgb(43, 179, 242);
  height: 40px;
  width: 100%;
  color: #fff;
  text-align:center;
  padding: 8px 0px;
  box-sizing: border-box;
}

span{
  color: red;
  font-size: 12px;
}